.content-main {
  min-height: 850px;
  padding: 0px 24px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-main {
  display: flex;
}

.panel-main-card {
  height: calc(100% - 32px);
  min-height: 850px;
  width: 100%;
  box-sizing: 'border-box';
  margin: 16px;
  display: flex;
  flex-direction: column;
}
